body {
   padding: 0;
   margin: 0;
   font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
      sans-serif;
}

h1 {
   margin: 20px auto;
   text-align: center;
}

h3 {
   margin: 0;
   font-size: 12px;
}

h4 {
   margin: 10px 0;
   font-size: 35px;
}

h5 {
   font-size: 15px;
}

h6 {
   font-size: 16px;
}

/* Payment Menu Switch */

.toggle-menu-annual-monthly {
   display: flex;
   justify-content: center;
   padding: 30px;
}

.payment-term {
   font-size: 20px;
   padding: 0 20px;
}

.switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
}

.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #f3aa21;
   -webkit-transition: 0.4s;
   transition: 0.4s;
}

.slider:before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: 0.4s;
   transition: 0.4s;
}

input:checked + .slider {
   background-color: #2196f3;
}

input:focus + .slider {
   box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
   border-radius: 34px;
}

.slider.round:before {
   border-radius: 50%;
}

/* Pricing Options Columns */

.pricing-columns-container {
   display: flex;
   justify-content: space-evenly;
}

.pricing-container {
   border: 3px solid rgb(59, 59, 59);
   padding: 20px;
   width: 200px;
   text-align: center;
}

/* Credits */

.attribution {
   font-size: 11px;
   text-align: center;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}
